.header{
    display: flex;
    align-items: center;
    justify-content: space-between;

    height: 100px;
    width: 100vw;
    padding: 0 50px;

    background: $yellow;

    position: relative;
    z-index: 2;
}
.logo{
    width: 200px;
}